<div class="row">

</div>
<hr>
<div class="component-wrapper">
  <div class="left-side-bar col-xs-1"></div>
  <div class="col-xs-10">
    <a href="#" class="list-group-item clearfix" *ngFor="let kurs of courses">
      <span class="col-xs-2">
        <img src="{{kurs.imagePath}}" alt="" class="img-responsive" style="max-height: 50px;">
      </span>
      <div class="col-xs-9">
        <h4 class="list-group-item-heading">{{kurs.name}}</h4>
        <p class="list-group-item-text">{{kurs.description}}</p>
        <p class="list-group-item-text">{{kurs.price}}</p>

      </div>

      <div class="col-xs-1 pull-right">
        <a
          [routerLink]="['/courses-edit', kurs.id]"
        ><button class="btn-primary"
        >Edit</button></a>


        <button class="btn-danger"
                type="button"
                (click)="deleteCourse(kurs)">Delete</button>
      </div>

    </a><br>
    <div class="col-xs-12">
      <a [routerLink]="['/course-add']">
        <button class="btn-success">
          New Course </button> </a>
    </div>
  </div>
  <div class="right-side-bar col-xs-1"></div>


</div>


